
/* ======================MAIN CARD STYLING==================== */

.card-align{
    display: flex;
    background:linear-gradient(to bottom, #C6FFDD, #FBD786, #f7797d);
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid greenyellow;
    width: 250PX;
    overflow: hidden;
    box-shadow: 3px 5px #888888;
}

/* ============IMAGE STYLING================== */

.image-class{
    width: 50%;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.card-details{
    text-align: center;
}

/* =============CARD BUTTON STYLING================ */

.card-button{
    margin: auto;
    margin-bottom: 30px;
    width: 40%;
    height: 30px;
    border: 1px solid grey;
    background-color: greenyellow;
    border-radius: 10px;
    color: black;
    font-size: larger;
    cursor: pointer;
    transition: 0.5s;
}
.card-button:hover{
    box-shadow:  5px 8px lightslategray;
}